@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p><ul>
    <li>Julianna
        </li>
    <li>James</li>
    <li>Tomasz</li>
    </ul></p>
<p>We are passionate about the beer and we have got everything you might wish for!</p>