@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>We are passionate about beer and we have got everything you might wish for!</p>

<ul>
    <li>
        Julianna
    </li>
    <li>
        James - "It's all about the stout"
        <ul>
            <li>Darkside IPA</li>
            <li>Newcastle Brown Ale</li>
            <li>La Niña Barbuda</li>
            <li>Guinness</li>
            <li>Oyster Stout</li>
            <li>Check out my <a href="https://untappd.com/user/jamesey2040">Untappd profile</a> </li>
        </ul>
    </li>
    <li>
        Tomasz - "Beer to dine for"
        <ul>
            <li>O'Hara's Irish Red</li>
            <li>Boyne Brewhouse Lager</li>
            <li>Grafter's Pale Ale</li>
            <li>Solas Hops and Grains Brown Porter</li>
        </ul>
    </li>
</ul>
That's what we are, Beer Fans, or Brew Fans. Simple, to the point, but let's everyone know where we stand. Not only do we drink beer, we "cheer" for it, especially when it's tasty. Haven't we all done it? You ask what kind of beer there is at a particular establishment, expecting the same weak fare. Then we are told that there is a delicious microbrew or other tasty beer on tap, the only response is, 'Yes!!'