@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>

    IT Tallaght 
    Blessington Rd, Tallaght,<br />
    Dublin 24, D24 FKT9y<br />
    <abbr title="Phone">P: </abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@it tallaght.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ittallaght.com</a>
</address>