@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

     <h1>BEERME!</h1>
   
    <img src="~/images/canyoubeermenow.png" alt="header" width="100%"  />
    
     <p></p>
    <p class="lead">BEERME! is the best way to get bladdered on a budget!</p>

    <p><a class="btn btn-home" href="@Url.Action("About", "Home")">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beers</h2>
        <p>
            Beers from all over the world!
        </p>
        <p><a class="btn btn-home" href="@Url.Action("Index", "Beer")">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shops</h2>
        <p>Suds stockists in your suburb!</p>
        <p><a class="btn btn-home" href="@Url.Action("Create", "Shop")">Add a Shop &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Prices</h2>
        <p>Punch publicans with our prices!</p>
        <p><a class="btn btn-home" href="@Url.Action("Index", "Stock")">Price checker &raquo;</a></p>
    </div>
</div>